<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is an unprotected page 
    <br><br>
    Following link redirects to a protected page: 
    <a href="/protected">Protected site</a>
    <br>
    you need to Sign up or login first to get the access.
    <br><br>
    <a href="/login">login</a>
    <br>
    <a href="/signup">Sign Up</a>
    <br>
    <a href="/logout">Log Out </a>
</body>
</html>